a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
filter: brightness(0.95); 
}

a:active {
text-decoration: none;
}

.featureList {
align-items: center;
max-width: 20rem;
margin: 0 auto 1.5rem;
text-align: center;
padding: 0 45px;
}

.featureList .featureItem {
align-items: center;
max-width: 20rem;
text-align: center;
margin: auto;
}

.featureList .featureItem .title {
margin-top: 1rem;
}

.featureList .featureItem .description {
margin-top: 1rem;
color: black;
}

.featureList .featureItem a {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
height: 100%;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 10px;
padding: 1rem 1rem;
border-radius: 2.5%;
border-bottom: solid #142d49 1px;
background-color: white;
}

.featureList .featureItem .a {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
height: 100%;
margin-left: 1rem;
margin-right: 1rem;
padding: 1rem 1rem;
border-radius: 0.25rem;
}

.featureList .featureItem .link {
display: flex;
flex-direction: row;
margin-top: 1rem;
font-weight: bold;
color: #e7334c;
}

.containerHome .text {
padding-top: 40px;
width: 75%;
color: white;
padding-left: 15px;
}

.containerHome .text .pSmall {
padding-top: 7px;
}

.containerHome .text h1 {
color: white;
font-size: 1.75rem;
margin: 0;
}

.inner-container {
padding-left: 30px;
padding-right: 30px;
}

.inner-container p {
padding-bottom: 15px;
}

.footerImage {
max-width: 200px;
height: auto;
}

.social-wrapper {
padding-top: 0.5rem;
}

.social-wrapper a {
padding-left: 1rem;
}
