.search-box {
    background-color: #79b9d5;
    max-width: 86rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding-bottom: 30px;
}

.location-container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.location-container .title {
    color: white;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.list-box {
    background-color: transparent;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    width: 98%;
}

.item {
    box-shadow: 0px 11px 6px -11px black;
    background-color: #e0f6fd;
    border-radius: 10px;
}

.item .item-header {
    color: black;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    padding: 10px;
}

.item .item-body {
    color: black;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 12px;
    padding-bottom: 10px;
}

.search-field {
    margin-top: 27px;
}
.search-field form {
    text-align: center;
}

.search-field form button {
    margin-bottom: 15px;
    width: 6rem;
    height: 2.5rem;
    border: none;
    background-color: #e7334c;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.search-field form input {
    width: 75%;
    height: 1.5rem;
    margin-bottom: 15px;
    border: none;
    font-size: 25px;
    padding: 6px 10px;
    margin-right: 50px;
    margin-left: auto;
    border-radius: 3px;
}

.leaflet-container {
    width: 99%;
    height: 66vh;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 90px;
}
