.Icons {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 2rem;
    max-width: auto;
}

.collapsible{
    cursor: pointer;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.collapsible .content-parent{
    margin-top: 10px;
    overflow: hidden;
}

#dropdown {
    transition: transform linear 0.2s;
}

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin:0px;
}

h1 {
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #142d49;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h2 {
    font-size: 1.5rem;
    color: #142d49;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;

}

b {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}

.paragraf {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

ul.paragraf{
    padding-left: 22.5px;
}

.content {
    width: 100%;
    height: auto;
}

.Picture {
    max-width: auto;
    height: auto;
}
.TextNextToImage {
    display: flex;
    align-items: center;
    justify-content: center
}
.text {
    font-size: 20px;
    padding-left: 20px;
}