.Icons {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 2rem;
    max-width: auto;
}

.collapsible{
    cursor: pointer;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.grid{
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(0,0,0, 0.02);
    margin: 0;
    padding: 0;
    height: auto;
}



    

.textAnimation{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.textAnimation:first-of-type {  
animation: showup 7s infinite;
}

.textAnimation:last-of-type {
width:0px;
animation: reveal 7s infinite;
}

.textAnimation :last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
}


@keyframes showup {
0% {opacity:0;}
20% {opacity:1;}
80% {opacity:1;}
100% {opacity:0;}
}

@keyframes slidein {
0% { margin-left:-800px; }
20% { margin-left:-800px; }
35% { margin-left:0px; }
100% { margin-left:0px; }
}

@keyframes reveal {
0% {opacity:0;width:0px;}
20% {opacity:1;width:0px;}
30% {width:auto;}
80% {opacity:1;}
100% {opacity:0;width:auto;}
}


.collapsible .content-parent{
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s;
}
.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
p {
    margin:0px;
}
h1 {
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #142d49;
    display: flex;
    justify-content: center;
    margin: 10px;
}
h2 {
    font-size: 1.5rem;
    color: #142d49;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;

}
b {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #fff;
}
.paragraf {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
ul.paragraf{
    padding-left: 22.5px;
}
.content {
    width: 100%;
    height: auto;
}


