@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');



.title {
    color: #000;
    font-size: 24pt;
    display: flex;
    justify-content: center;
}

.title>h1 {
    margin-top: 0px;
}